{% extends "base.html" %}

{% block content %}
	{% if entradas %}
		{% for post in entradas %}
		<article class="box is-post">
			<header>
				<h2><a href="{{post.get_absolute_url}}">{{ post.titulo }}</a></h2>
				<span class="byline"></span>
			</header>
			<section>
				<div class="post_body">
					{{ post.contenido|safe|linebreaks|truncatewords:100 }}
				</div>
				<div class="readmore"><a class="button button-icon button-icon-1" href="{{ post.get_absolute_url }}">Seguir leyendo</a>
			</section>
			<section>
				<div class="tags">
					{% for tag in post.tags.all %}
						<a href="/blog/tag/{{tag}}">{{tag}}</a>
						{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</div>
			</section>
		</article>

		{% endfor %}
	{% else %}
		<article class="box is-post">
			<header>
				<h2>No hay Entradas.</h2>
			</header>
		</article>
	{% endif %}
	
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class="button button-alt" href="?page={{ page_obj.previous_page_number }}">anterior</a>
		{% endif %}
		<span>
			Página {{ page_obj.number }} de {{ paginator.num_pages }}.
		</span>
		{% if page_obj.has_next %}
			<span>
				<a class="button button-alt" href="?page={{ page_obj.next_page_number }}">siguiente</a>
			</span>
		{% endif %}
	{% endif %}
{% endblock %}

{% block footer1 %}
	{% load ultimas_categorias %}
		{% ultimas_categorias 5 %}
{% endblock %}

{% block footer2 %}
	{% load ultimas_entradas %}
		{% ultimas_entradas 5 %}
{% endblock %}