{% extends "base.html" %}

{% block content %}

<article class="box is-post">
	<header>
		<h2><a href="/blog/{{post.id}}">{{ post.title }}</a></h2>
		<span class="byline"></span>
	</header>
	<section>
		<div class="post_meta">
			on {{ post.created }}
		</div>
	</section>
	<section>
		<div class="post_body">
			{{ post.body|safe|linebreaks }}
		</div>
	</section>
	<section>
		<div class="tags">
			{% for tag in post.taggs.all %}
				<a href="/blog/tag/{{tag}}">{{tag}}</a>
				{% if not forloop.last %}, {% endif %}
			{% endfor %}
		</div>
	</section>
</article>

    {% load disqus_tags %}
	{% disqus_show_comments %}

{% endblock %}