{% extends "base.html" %}

{% block titulo %}
	{{ entradas.titulo }} | Mi Blog
{% endblock %}

{% block content %}

<article class="box is-post">
	<header>
		<h2><a href="{{entradas.get_absolute_url}}">{{ entradas.titulo }}</a></h2>
		<span class="byline">
			el {{ entradas.fecha }}
			 por {{ entradas.autor }}
			<br/>
			Categorias: 
			{% for categoria in entradas.categoria.all %}
				<a href="{{categoria.get_absolute_url}}">{{ categoria }}</a>
				{% if not forloop.last %}, {% endif %}
			{% endfor %}
		</span>
	</header>
	<section>
		<div class="post_body">
			{{ entradas.contenido|safe|linebreaks }}
		</div>
	</section>
	<section>
		<div class="tags">
			Tags: 
			{% for tag in entradas.tags.all %}
				<a href="/blog/tag/{{tag}}">{{tag}}</a>
				{% if not forloop.last %}, {% endif %}
			{% endfor %}
		</div>
	</section>
</article>

    {% load disqus_tags %}
	{% disqus_show_comments %}

{% endblock %}